<!DOCTYPE html>
<html>
  <head>
    <title>Instagram clone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <nav class="navbar navbar-inverse bg-inverse">
        <%= link_to 'Instagram clone', root_path, class: 'navbar-brand' %>

        <ul class='nav justify-content-end'>
          <% if current_user %>
            <li class='nav-item '>
              <%= link_to 'Novo post', new_post_path, class: 'nav-link' %>
            </li>

            <li class='nav-item '>
              <span class="navbar-text"><%= current_user.email %></span>
            </li>

            <li class='nav-item'>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </nav>

      <div class='row'>
        <div class='col-sm-12'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-12'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
